@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700');

body { font-family: 'Roboto';  
  background-color: #DADAD9;
  font-weight: 300;
  color: #36382E;}

nav{
  font-size: 18px;
}
.onDiv{
  background:url('http://www.kiplingsociety.co.uk/pix/unionjack2.jpg');
  background-size:contain;
  background-position: 50% 50%;
  background-repeat:no-repeat;
  height:36px;
  width:72px;
}
.offDiv{
  background:url('http://www.mapsofworld.com/images/world-countries-flags/italy-flag.gif');
  background-size:contain;
  background-position: 50% 50%;
  background-repeat:no-repeat;
  height:36px;
  width:72px;
}
a{
  color: #656565;
}
a:hover{
  text-decoration: none;
  color: #2f2f2f;
}
.dirItens{
  padding-left: 25px;
}
.footer-item{
  padding-left: 25px;
}
.space{
  height: 25px;
}
.space2{
  height: 62px;
}
.profile-pic{
  border-radius: 195px;
  width: 190px;
}
.container-profile-pic{
  text-align: center;
}
.container-name{
  text-align: center;

  font-style: bold;
  font-family: 'Roboto';
  font-size: 30px;
}
.container-desc{
  text-align: center;
  font-family: 'Roboto';
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
}
.container-about-me{
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 300;
}
.footer{
  text-align: center;
  font-family: 'Roboto';
  font-size: 18px;

}
.center{
  text-align: center;
}
@media only screen and (max-width: 800px) {
  #clock{
    display: none;
  }
  .card{
    margin-bottom: 30px;
  }
}
.btn-primary {
    color: #fff;
    background-color: #656565;
    border-color: #656565;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #656565;
    border-color: #656565;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}
.btn-primary:hover {
    color: #fff;
    background-color: #656565;
    border-color: #656565;
}